# Virtual environments
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE/Editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Large media files
media/
*.mkv
*.mp3
*.wav
